.jumbotron {
  background-color: #ffc0cb; }

.card-item {
  flex: 100 250px;
  margin-top: 5px;
  margin-bottom: 5px; }

.card-title {
  text-align: center; }

.btn-comprar {
  width: 100%; }

footer {
  background-color: #ffc0cb;
  margin-top: 20px; }

.footer-address-icon {
  padding-right: 10px; }

.navbar {
  background-color: #e3f2fd;
  position: sticky; }

.card-item-icon {
  padding-right: 10px; }

.texto-evento-malvaviscos {
  position: absolute;
  bottom: 5%;
  padding: 10px 30px 0;
  text-align: center;
  width: 80%; }

.tab-content {
  padding-top: 10px; }

.row-paquete {
  padding-top: 30px; }

address p {
  margin-top: -1rem; }

address h5 {
  margin-bottom: 2rem; }

.footer-nevegacion {
  text-align: right; }
